extends layout

block content
  div.container-fluid
    div.row  
      div.col-md-2#sidebar
        div#progress-outer
          <div id="progress-inner" data-progress="10%"><div></div></div>
        div.sidebar-title-container
          h1#sidebar-title Harrison <br /> Wray
        div#sidebar-icon-container
          a(href='files/Harrison_Wray_Resume.pdf' target='_blank')
            img(src='images/resume2.png' class='sidebar-icon-left')
          a(href='https://www.linkedin.com/in/hawray/' target='_blank')
            img(src='images/linkedin2.png' class='sidebar-icon')
          a(href='https://github.com/hwray' target='_blank')
            img(src='images/github.png' class='sidebar-icon-right')
        div#about-nav
          h3.sidebar-nav 
            a#about-button.sidebar-link(href="/") <img class='progress-checkbox' src='images/checked.png'> About   
        div#projects-nav
          h3.sidebar-nav 
            a.sidebar-link(href="/projects") <img id='projects-checkbox' class='progress-checkbox' src='images/unchecked.png'>Projects
          div#sidebar-projects-sub-container
            p 
              a#dais-button.sidebar-link.sublink(href="/projects/dais") <img id='dais-checkbox' class='progress-checkbox' src='images/unchecked-small.png'>Dais
            p 
              a#discoveroute-button.sidebar-link.sublink(href="/projects/discoveroute") <img id='discoveroute-checkbox' class='progress-checkbox' src='images/unchecked-small.png'>Discoveroute
            p 
              a#gesturemath-button.sidebar-link.sublink(href="/projects/gesturemath") <img id='gesturemath-checkbox' class='progress-checkbox' src='images/unchecked-small.png'>GestureMath
            p 
              a#narrative-button.sidebar-link.sublink(href="/projects/narrative") <img id='narrative-checkbox' class='progress-checkbox' src='images/unchecked-small.png'>Narrative
            p 
              a#tutti-button.sidebar-link.sublink(href="/projects/tutti") <img id='tutti-checkbox' class='progress-checkbox' src='images/unchecked-small.png'>Tutti
            p 
              a#phonemone-button.sidebar-link.sublink(href="/projects/phonemone") <img id='phonemone-checkbox' class='progress-checkbox' src='images/unchecked-small.png'>Phonemone
        div#experience-nav
          h3.sidebar-nav 
            <img class='progress-checkbox' src='images/unchecked.png'>  Experience
      div.col-md-9#main-container
        div.container-fluid
          div.row.row-eq-height
            div.col-md-8
              h1#about-title Developer & Designer <br /> of <br /> Digital   <img src='images/emoji.png' alt='Joy' style="padding-left:10px;"> 
            div.col-md-4
              div.circular-about-me
          div.row
            div.col-md-8.about-main-first
              p Hi! My name's Harrison. I like to code, DJ, think about aesthetics, and surf the internet forever. &infin;
            div.col-md-1
              &nbsp
            div.col-md-1.about-icon-extra
              a(href='http://takemeback.to/29-November-1991#.VMZtpErF9At' target='_blank')
                <img src='images/clock.png'>  
            div.col-md-2.about-icon-extra
              <a href='http://takemeback.to/29-November-1991#.VMZtpErF9At' target='_blank' class='about-icon-link'>23<br />years</a>
          div.row
            div.col-md-8.about-main
              p I'm currently pursuing an M.S. in CS at Stanford University, where I did my undergrad in Psychology (focusing on neuroscience). 
            div.col-md-1
              &nbsp
            div.col-md-1.about-icon
              <img src='images/seattle.png'> 
            div.col-md-2.about-icon
              <p class='about-icon-link'>From:<br/>Seattle, WA</p>
          div.row.row-eq-height
            div.col-md-8.about-main
              p I have a passion for creating unique human-computer interaction experiences. Thanks for checking out some of my projects!  ✌
            div.col-md-1
              &nbsp
            div.col-md-1.about-icon-extra
              img(src='images/palmtree.png')
            div.col-md-2.about-icon-extra
              <p class='about-icon-link'>At:<br/>Palo Alto, CA</p>
          div.row
            div.col-md-8
              <img src='images/left_arrow2.png' alt="Left Arrow">  <img src='images/emoji_magnifier.png' alt="Magnifier Emoji"> <img src='images/emoji_up.png' alt="Up Emoji">  <img src='images/emoji_100.png' alt="100 Emoji"> <img src='images/emoji_gift.png' alt="Present Emoji">
  script(src='/javascripts/nav.js')
