doctype html
html
  head
    title Harrison Wray
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Abril+Fatface')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cardo:700')
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content